body {
    font-size: 1em;

    font-family: ccmonstermash, sans-serif;
    font-style: normal;
    font-weight: 400;
}

#head {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#head>img {
    /* min-width: 570px; */
    /* max-width: 55vw; */
    width: 100%;
    height: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}



.buttontText {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: yellow;
}

.manifest {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    text-align: center;
    background-color: black;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.header>span {
    /* Story Setting: */
    font-family: CCMonsterMash;
    font-size: 48px;
    color: #CBCD27;
}

.alert {
    position: relative;
    padding-bottom: 20px;
    padding-top: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #CBCD27;
}



















/* body css */

.tube {
    position: absolute;
    width: 235px;
    height: 45px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #CBCD27;

    /* Rectangle 2: */
    border-radius: 100px;
}

.leftTube {
    left: -31px;
}

.rightTube {
    right: -31px;
}

.selector {
    background-color: black;
    text-align: center;
}

.selector p {
    text-transform: uppercase;
}

div.selector>div>div>p {
    color: #CBCD27;
}

input {
    width: 48%;
}


.slidbar1 {
    height: 122px;
    /* padding-top: 20px; */
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: table;
    border-bottom: solid 1px grey;
}



.sliderComb {
    margin-left: 234px;
    margin-right: 234px;
    /* Example: */
    font-family: CCMonsterMash;
    font-size: 24px;
    height: 100%;
}

.sliderNamePart {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 21px;
}










/* .sliderNamePart>* {
    display: table-cell;
    vertical-align: middle;
} */

.sliderNamePart>p:nth-child(1) {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.sliderNamePart>p:nth-child(3) {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

body>div.selector>div>div.checkbar1>p {
    width: 20%;
    min-width: 110px;
}























/* range Ios begin */

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 48%;
    /* Specific width is required for Firefox. */
    /* CC customerize */
    margin-top: 30px;
}

input[type=range]:focus {
    outline: none;
}































/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #a9acb1;
    border-radius: 15px;
}































/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #a9acb1;
    border-radius: 15px;
}































/* All the same stuff for IE */

input[type=range]::-ms-thumb {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    border: none;
    margin: 10px;
}

input[type=range]::-ms-track {
    cursor: pointer;
    border-top: 16px;
    border-bottom: 17px;
    border-left: 10px;
    border-right: 10px;
    border-color: transparent;
    border-style: solid;
    height: 2px;
    background: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background-color: #017AFD;
    border-radius: 15px;
}

input[type=range]:focus::-ms-fill-lower {
    background-color: #017AFD;
}

input[type=range]::-ms-fill-upper {
    background-color: #a9acb1;
    border-radius: 15px;
}

input[type=range]:focus::-ms-fill-upper {
    background-color: #a9acb1;
}

input[type=range]::-ms-tooltip {
    display: none;
}































/* range Ios end*/

.sliderName {
    /* width: 13.3333333333%; */
    width: 21.333333%;

    min-width: 70px;
    color: #CBCD27;
}



.checkbar1 {
    min-width: 190px;
    width: 33%;
    height: 122px;
    display: inline-block;
    position: relative;
    /* border-bottom: solid 1px grey; */
    overflow: hidden;
}

.checkCombo {
    /* background-color: red; */
    position: relative;
    margin-left: 234px;
    font-family: CCMonsterMash;
    font-size: 24px;
    height: 100%;
    /* right: 0; */
    margin-right: 0px;
}

.checkNamePart {
    padding-top: 31px;
    display: flex;
}

.checkNamePart>.sliderName {
    /* width: 159px; */
    width: 70%;
}



























/* ios check begin*/

.holder {
    display: inline-block;
    width: 56px;
    height: 40px;
    margin: 20px auto;
    top: -6px;
    position: relative;
}

.check-ios {
    visibility: hidden;
}

.holder span {
    background-color: #e2e2e2;
    display: block;
    height: 30px;
    width: 54px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: 15px;

    transition: all .5s ease;
}

.holder span:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 28px;
    width: 52px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

    border-radius: 14px;

    transition: all .4s ease;
}


.holder label {
    background: #fff;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 3;

    border-radius: 50%;

    transition: all .4s ease;

    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.check-ios:checked~span {
    /* background-color: #4FD065; */
    background-color: yellow;
}

.check-ios:checked~span:after {
    height: 0;
    width: 0;
    left: 50%;
    top: 50%;
}

.check-ios:checked+label {
    left: 25px;
}






























/* ios check end*/

.result {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #CBCD27;
}

.centerDiv {
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 13vh;
    position: absolute;
    width: 70vw;
    height: 40vh;
    font-size: 42px;
}

.centerDiv span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 2px yellow;
    border-radius: 1em;
    margin: 10px;
    line-height: 1em;
}

.buttonCancle {
    width: 300px;
    height: 80px;
    /* background-color: red; */
    position: absolute;
    /* top: 0; */
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-radius: 40px;
    border-color: black;
    font-size: 25px;
    margin: auto;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;


    /* Rectangle 2: */
    border: 4px solid #FFFFFF;
    /* Upload to Sticker: */
    font-family: CCMonsterMash;
    font-size: 1.2em;
    color: #FFFFFF;
}




















/* .buttonCancle{
    width: 300px;
    height: 100px;
    font-size: 25px;
    margin: auto;
    line-height: 100px;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border: solid 1px black;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    z-index: 1;
} */

.enjoy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
}

.enjoy span {
    position: absolute;
    width: 50vw;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 4em;
    font-family: "Gill Sans", Times, serif;
    font-weight: 100;
    color: #333;
}